.burgerMenu {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 520px;
  min-height: 1024px;
  background-color: #202020;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  /* display: none; */
  /* transform: translateY(100%); */
}

.burgerMenu-active {
  transform: translateY(0);
}

@media screen and (max-width: 780px) {
  .burgerMenu {
    /* display: block; */
  }
}

@media screen and (max-width: 520px) {
  .burgerMenu {
    min-height: 780px;
  }
}

.burgerMenu__close {
  height: 22px;
  width: 22px;
  background-color: initial;
  background-image: url(../../../images/x.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  position: absolute;
  right: 27px;
  top: 27px;
}

.burgerMenu__close:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .burgerMenu__close {
    right: 19px;
    top: 19px;
  }
}

.burgerMenu__list {
  padding: 0;
  list-style: none;
  margin: 159px auto 0;
  gap: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 520px) {
  .burgerMenu__list {
    margin: 144px auto 0;
    gap: 24px;
  }
}

.burgerMenu__link {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  display: flex;
}

.burgerMenu__link:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

.burgerMenu__profile {
  align-items: center;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  text-decoration: none;
  height: 32px;
  color: #fff;
  display: flex;
  margin: 621px auto 93px;
}

@media screen and (max-width: 520px) {
  .burgerMenu__profile {
    margin: 444px auto 46px;
  }
}

.burgerMenu__profile-button {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  padding: 8px;
  border-radius: 50px;
  background: #313131;
}

.burgerMenu__profile:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .burgerMenu__profile {
    margin-bottom: 40px;
  }
}
