.profile {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #202020;
  color: #fff;
}

@media screen and (max-width: 780px) {
  .profile {
    min-height: 950px;
  }
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding-top: 74px;
}

@media screen and (max-width: 780px) {
  .profile__name {
    padding-top: 236px;
  }
}

@media screen and (max-width: 520px) {
  .profile__name {
    padding-top: 70px;
  }
}

.profile__form {
  display: inline-block;
  max-width: 410px;
  width: 100%;
}

@media screen and (max-width: 520px) {
  .profile__form {
    max-width: 260px;
  }
}

.profile__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
}

.profile__container:first-child {
  border-bottom: #424242 solid 1px;
  margin-top: 123px;
}

@media screen and (max-width: 780px) {
  .profile__container:first-child {
    margin-top: 96px;
  }
}

@media screen and (max-width: 520px) {
  .profile__container:first-child {
    margin-top: 80px;
  }
}

.profile__span-name {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  display: block;
  white-space: nowrap
}

.profile__input-name {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 16px;
  border: none;
  width: 100%;
  background-color: #202020;
  text-align: right;
  color: #fff;
  box-sizing: border-box;
}

.profile__input-name:focus {
  outline-offset: 3px;
  outline: 1px solid aqua;
}

.profile__input-name::placeholder {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.profile__input-email {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 203px;
  width: 100%;
  background-color: #202020;
  border: none;
  text-align: right;
  color: #fff;
  box-sizing: border-box;
}

.profile__input-email:focus {
  outline-offset: 3px;
  outline: 1px solid aqua;
}

.profile__input-email::placeholder {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

@media screen and (max-width: 780px) {
  .profile__input-email {
    margin-bottom: 192px;
  }
}

@media screen and (max-width: 520px) {
  .profile__input-email {
    margin-bottom: 360px;
  }
}

.profile__edit {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0 auto 16px;
  display: block;
  border: 0;
  background: #202020;
  cursor: pointer;
  width: 100%;
  height: 45px;
  border-radius: 3px;
}

.profile__edit:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile__edit_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: none;
}

.profile__edit_disabled:hover {
  cursor:not-allowed;
}

@media screen and (max-width: 520px) {
  .profile__edit {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__exit {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.profile__exitBtn {
  color: #ee3465;
  margin: 0;
  padding-bottom: 70px;
  background: #202020;
  border: 0;
  cursor: pointer;
}

.profile__exitBtn:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .profile__exitBtn {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__error {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  display: block;
  text-align: center;
}
