.savedFilms {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 70px 70px 10px;
  min-height: 598px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 37px 24px;
  justify-items: stretch;
  background-color: #202020;
}

@media screen and (max-width: 780px) {
  .savedFilms {
    padding: 70px 30px 30px;
    gap: 30px;
    max-height: 1238px;
  }
}

@media screen and (max-width: 520px) {
  .savedFilms {
    padding: 40px 10px 26px;
    gap: 14px;
    max-height: 1307px;
    min-height: 552px;
  }
}

.savedFilms__container {
  box-sizing: border-box;
  max-height: 281px;
  margin: 0 auto;
  background-color: #222222;
  cursor: pointer;
}

.savedFilms__container:hover .savedFilms__save {
  opacity: 1;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 780px) {
  .savedFilms__container {
    max-height: 262px;
  }
}

@media screen and (max-width: 520px) {
  .savedFilms__container {
    max-height: 237px;
  }
}

.savedFilms__wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1051px) {
  .savedFilms__wrapper {
    max-width: 364px;
  }
}

.savedFilms__save {
  background: url("../../../src/images/x.svg") no-repeat center/ 30px 30px;
  border: 0;
  padding-right: 16px;
  margin-top: -5px;
  margin-right: 20px;
  opacity: 0;
  cursor: pointer;
}

.savedFilms__films:hover {
  filter: contrast(150%);
  opacity: 0.8;
  transition: opacity 0.3s;
}

@media screen and (max-width: 520px) {
  .savedFilms__save {
    margin-top: -2px;
    margin-right: 14px;
  }
}

.savedFilms__films {
  max-width: 364px;
  height: 203px;
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .savedFilms__films {
    max-width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 520px) {
  .savedFilms__films {
    max-width: 300px;
    height: 168px;
  }
}

.savedFilms__title {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin: 13px 0 17px 16px;
}

@media screen and (max-width: 780px) {
  .savedFilms__title {
    margin: 14px 0 15px 14px;
  }
}

@media screen and (max-width: 520px) {
  .savedFilms__title {
    margin: 11px 0 14px 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
}

.savedFilms__time {
  color: #8b8b8b;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin: 0 0 16px 16px;
}

@media screen and (max-width: 780px) {
  .savedFilms__time {
    margin: 0 0 14px 14px;
  }
}

@media screen and (max-width: 520px) {
  .savedFilms__time {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }
}
