// COLORS
$main-white: #fbfbfb;
$form-white: #EFEFEF;
$black: #1c0a02;
$gray-high:#EBEAE8;
$gray: #efefef;
$gray-btn-text: #8C8C8C;
$blue: #cfe8ef;
$blue-link: #00AAFF;
$blue-btn:  #0077FF;
$blue-light: #f3f7f9;
$main-coral: #e75c49;
$light-coral: #f1bbb3;
$active-coral: #c64534;
$alert-red:#F40B0B;
$background-popup:#000000ba;
// FONTS 
$font-family:"Onest", sans-serif;
// SIZES
$max-width-min: 1480px;
$max-width: 1920px;
$border-radius: 6px;
$border-radius-s: 10px;
$border-radius-m: 20px;
// PADDING/MARGIN/GAP
$padding-lr: 80px;
$cl-gap-l: 32px;
$cl-gap-m: 109px;
$row-gap-l:24px;
