.navigation {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 520px;
  min-height: 1024px;
  background-color: #202020;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

@media screen and (max-width: 520px) {
  .navigation {
    min-height: 780px;
  }
}

.navigation__close {
  height: 22px;
  width: 22px;
  background-color: initial;
  background-image: url(../../../src/images/Xburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  position: absolute;
  right: 27px;
  top: 27px;
}

.navigation__close:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .navigation__close {
    right: 19px;
    top: 19px;
  }
}

.navigation__list {
  padding: 0;
  list-style: none;
  margin: 159px auto 0;
  gap: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 520px) {
  .navigation__list {
    margin: 144px auto 0;
    gap: 24px;
  }
}

.navigation__link {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  display: flex;
}

.navigation__link:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

.navigation__profile {
  align-items: center;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  text-decoration: none;
  height: 32px;
  color: #fff;
  display: flex;
  margin: 621px auto 93px;
}

.burgerMenu__profile:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .navigation__profile {
    margin: 444px auto 46px;
  }
}

.navigation__profileButton {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  padding: 8px;
  border-radius: 50px;
  background: #313131;
}
