.burgerMenu {
  width: 44px;
  height: 44px;
  border: none;
  background: #202020;
  margin: 0 30px 0 0;
  background-color: transparent;
  background-image: url("../../../src/images/burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.3s linear;
  padding: 0;
  display: none;
}

.burgerButton:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .burgerMenu {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .burgerMenu {
    margin: 0 14px 0 0;
    width: 40px;
    height: 43px;
  }
}

@media screen and (max-width: 520px) {
  .burgerButton {
    margin: 0 14px 0 0;
  }
}
