.burgerButton {
  padding: 0;
  background: #202020;
  width: 44px;
  height: 44px;
  display: none;
  background-image: url("../../../src/images/burger.svg");
  background-size: 44px;
  background-color: #073042;
  background-position: center;
  border: none;
  margin: 0 30px 0 0;
  /* display: none; */
}

/* .navigation__burger-button-open {
  display: block;
} */

.burgerButton:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .burgerButton {
    visibility: visible;
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 520px) {
  .burgerButton {
    /* padding-right: 14px; */
    width: 40px;
    height: 43px;
    margin: 0 14px 0 0;
  }
}
