.register {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #202020;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
}

@media screen and (max-width: 780px) {
  .register {
    min-height: 1024px;
  }
}

.register__wrapper {
  min-height: 700px;
  max-width: 396px;
  width: 100%;
}

@media screen and (max-width: 520px) {
  .register__wrapper {
    max-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.register__logo {
  margin: 70px auto 40px 0;
  display: flex;
  justify-items: left;
  cursor: pointer;
}

.register__logo:hover {
  opacity: 0.8;
  transition: opacity 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .register__logo {
    margin: 232px auto 40px 0;
  }
}

@media screen and (max-width: 520px) {
  .register__logo {
    margin: 56px auto 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }
}

.register__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0 auto 40px;
}

@media screen and (max-width: 520px) {
  .register__name {
    margin: 0 auto 80px;
  }
}

.register__form {
  max-width: 396px;
  width: 100%;
}

.register__container {
  width: 100%;
}

.register__span-name {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0;
  display: block;
}

.register__input-name {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  width: 100%;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 8px;
  height: 46px;
  padding-left: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.register__input-name:focus {
  outline-offset: 3px;
  outline: 1px solid aqua;
}

.register__input-name::placeholder {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.register__input-email {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  width: 100%;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 8px;
  height: 46px;
  border: none;
  padding-left: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.register__input-email:focus {
  outline-offset: 3px;
  outline: 1px solid aqua;
}

.register__input-email::placeholder {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.register__input-password {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 8px;
  height: 46px;
  border: none;
  padding-left: 15px;
  box-sizing: border-box;
}

.register__input-password:focus {
  outline-offset: 3px;
  outline: 1px solid aqua;
}

.register__input-password::placeholder {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.register__button {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  width: 100%;
  min-height: 45px;
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  border: 0;
  margin-top: 69px;
  cursor: pointer;
}

.register__button_disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

.register__button:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .register__button {
    margin-top: 157px;
    font-size: 12px;
    line-height: 15px;
  }
}

.register__container-enter {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.register__already {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 16px;
  margin-bottom: 70px;
}

@media screen and (max-width: 780px) {
  .register__already {
    font-weight: 500;
  }
}

@media screen and (max-width: 520px) {
  .register__already {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }
}

.register__enter {
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 16px;
  padding: 0 0 0 6px;
  text-decoration: none;
  cursor: pointer;
}

.register__enter:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .register__enter {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }
}

.register__error {
  margin-bottom: 15px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  display: block;
}
